

.gallery-container {
  width: 100%;
  height: 100vh;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow-x: auto;
  bottom: -40%;
  z-index: 2;
  position: absolute ;
  opacity: 0;
}

.gallery-container.scrolled{
  opacity: 1;
}
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50%;
  margin-left: 2510px;
}

.img-box {
  width: 50px;
  height: 525px;
  margin: 5px;
  border: 0;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s ease;
}

/*.img-box.enlarged {
  width: 400px;
  cursor: pointer;
}
*/

.img-box:hover {
  width: 320px;
  cursor: pointer;
}

.img-box:active{
  width: 320px;
  cursor: pointer;
}

@media screen and (max-width: 600px){
    .gallery-container {
      width: 100%;
      height: 100vh;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow-x: auto;
      bottom: 0;
      z-index: -3;
      position: absolute ;
      opacity: 0;
    }

    .gallery-container.scrolled{
      opacity: 1;
      z-index: 1;
      overflow-y: visible;
      height: 120vh;
      position: fixed;
      bottom: 0;
      margin-left: 5%;
    }
    
    .gallery {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 50%;
      flex-direction: column;
      margin-top: 2000px;
      margin-left: 10px;
      z-index: 2;
    }
    .img-box {
      width: 310px;
      height: 50px;
      margin: 5px;
      border: 0;
      justify-content: center;
      align-items: center;
      background-size: cover, 100%;
      background-position: center;
      position: relative;
      transition: height 0.5s ease;
      display: flex;
      z-index: 10;
    }
    .img-box:hover {
      width: 310px;
      height: 465px;
      cursor: pointer;
    }
  
    .img-box:active{
      width: 310px;
      height: 465px;
      cursor: pointer;
    }

    .img-box.full-screen {
      width: 80vw; /* Full viewport width */
      height: 80vh; /* Full viewport height */
      position: fixed; /* Fix position to the top-left corner */
      top: 0;
      left: 0;
      z-index: 9999; /* Make sure it's on top of other content */
    }
  }